# Cấu hình Database cho Aurora System
# File này nên được copy sang thư mục /home/.../config/.env (ngang cấp public_html)

DB_HOST=localhost
DB_USER=auroraho_longdev
DB_PASS=@longdev3824
DB_NAME=auroraho_restaurant

# Cấu hình riêng cho phân hệ Cafe (nếu muốn dùng database khác)
DB_NAME_CAFE=auroraho_cafe
